{% extends 'base.html' %}
{% block principal %}
<!-- Start Main Content -->
                    <div class="row-fluid">
                        <div class="span12">

                            <!-- Start Profile Page -->
                            <div id="profile-page-wrapper">

                                <div class="profile-page-header">
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <br>
                                            <span class="name">{{membro.nome}}</span>
                                            <button class="btn pull-right"><i class="icon icon-envelope"></i>Message</button>
                                            <button class="btn btn-info pull-right"><i class="icon icon-white icon-briefcase"></i> Hire Me</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="profile-page-photo">
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="profile-photo">
                                                <img src="img/avatar/avatar3.png" class="img-polaroid">
                                                <div class="profile-info">
                                                    <span><i class="icon icon-white  iconelusive-user"></i> {{membro.sobrenome}}, {{membro.nome}}</span>
                                                    <span><i class="icon icon-white iconelusive-mail-alt"></i> {{membro.email}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="profile-content">
                                    <div class="row-fluid">
                                        <div class="span9">
                                            <h3>About Me</h3>


                                            <hr>

                                            <h3>My Skill Set</h3>

                                            <hr>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- End Profile Page -->

                        </div>
                    </div><!-- End -->
{% endblock %}
