{% extends 'base.html' %}
{% block principal %}
<!-- Start Main Content -->
                    <div class="row-fluid">
                        <div class="span12">

                            <!-- Start Profile Page -->
                            <div id="profile-page-wrapper">

                                <div class="profile-page-header">
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <br>
                                            <span class="name">{{membro.nome}}</span>

                                                <a href="mailto:{{membro.email}}"><button class="btn pull-right"><i class="icon icon-envelope">

                                                </i>E-mail</button>

                                                </a>

                                        </div>
                                    </div>
                                </div>

                                <div class="profile-page-photo">
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div class="profile-photo">
                                                <img src="/static/img/default_avatar.png" class="img-polaroid">
                                                <div class="profile-info">
                                                    <span><i class="icon icon-white  iconelusive-user"></i> {{membro.sobrenome}}, {{membro.nome}}</span>
                                                    <span><i class="icon icon-white iconelusive-mail-alt"></i> {{membro.email}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="profile-content">
                                    <div class="row-fluid">
                                        <div class="span9">
                                            <h3>Cargos</h3>
                                            <a href="/cadastra_cargo/{{membro.id}}"><button>Adicionar</button></a>

                                            <table>
                                            {% if lista_cargos %}
                                                <tr>
                                                    <th>Núcleo</th>
                                                    <th>Cargo</th>
                                                    <th>Projeto</th>
                                                </tr>
                                                {% for cargo in lista_cargos %}
                                                    <tr>
                                                        <td>{{ cargo.nucleo.nome }}</td>
                                                        <td>{{ cargo.cargo }}</td>
                                                        <td>{{ cargo.projeto.nome }}</td>
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                            </table>
                                            <hr>
                                            <h3>Sobre Mim</h3>


                                            <hr>

                                            <h3>Projetos</h3>

                                            <hr>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- End Profile Page -->

                        </div>
                    </div><!-- End -->
{% endblock %}
